<script type="text/javascript">
  window.AppData.slug = '';
  window.AppData.pusherCredentials = <%= raw pusher_credentials() %>;
  window.AppData.retrospective = null;
</script>
<div class="container">
  <div id="retrospective-app"></div>
</div>
