<!DOCTYPE html>
<html>
  <head>
    <title>Retrospective</title>
    <script type="text/javascript">
      window.AppData = {};
      window.AppData.user = <%= raw user_info() %>;
    </script>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'main' %>
    <%= csrf_meta_tag %>
  </head>
  <body id="retro-app">
    <%= yield %>
  </body>
</html>
